<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"> </head>
<body>
	<div style='width: 800px; margin: 50px auto;'>
		<h2> The Classroom Critical Incident Questionnaire </h2>
		<p> Please take about five minutes to respond to the questions below about this week’s class. Don't put
your name on the form - your responses are anonymous. If nothing comes to mind for any of the questions
just leave the space blank. At the next class we will share the group's responses with all of you. Thanks for
taking the time to do this. What you write will help us make the class more responsive to your concerns.
</p>

<form action="javascript:void(0);" >
<h3> At what moment in class this week did you feel most engaged with what was
happening?</h3>
<textarea id='q1' cols='40' rows='5'></textarea>
<h3> At what moment in class this week were you most distanced from what was
	happening?</h3>
<textarea id='q2' cols='40' rows='5'></textarea>

<h3> What action that anyone (teacher or student) took this week did you find most
	affirming or helpful? </h3>
<textarea id='q3' cols='40' rows='5'></textarea>
<h3> What action that anyone took this week did you find most puzzling or confusing?</h3>
<textarea id='q4' cols='40' rows='5'></textarea>
<h3>What about the class this week surprised you the most? (This could be about your
own reactions to what went on, something that someone did, or anything else that
occurs).</h3>
<textarea id='q5' cols='40' rows='5'></textarea>
<%# submit button %>
<button class="button-primary" id='send'>submit my entry</button>

<%# make script that post%>
<%# if succeded remove submit button %>
	</form>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	$('#send').click(function(){
		console.log('test')
		$.post('/submit',
		       {most_engaged: $('#q1').val(),
			most_distanced: $('#q2').val(),
			action_helpful: $('#q3').val(), 
			action_confusing: $('#q4').val(),
		       	suprised: $('#q5').val()
		       },
		       function( data ) {
			       if(data === 'done'){
			       		$('#send').hide()
					alert('thankyou! your submit is recieved!:)')
			       }
		       }
		)
	})
})
</script>

</body>


