<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
	<form>
<h3> What lecture are you reviewing?</h3>
<input type='text' name='lecture' id='lecture'></input>
<%# dropdown menu with 1 to 10%>
<h3> grade the lecture from 1 to 5</h3>
<select name="grades" id='grades'>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
<br>
<%# textbox  with what went well?%>
<h3> What went well?</h3>
<input type='text' name='good' id='good'></input>
<br>
<%# textbox with what didnt go well?%>
<h3> What went not so well?</h3>
<input type='text' name='bad' id='bad'></input>
<br>
<%# submit button %>
<button class="button-primary" id='send'>submit my entry</button>

<%# make script that post%>
<%# if succeded remove submit button %>
	</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	$('#send').click(function(){
		$.post('/submit',
		       {lecture: $('#lecture').val(),
			grade: $('#grades').val(),
			good: $('#good').val(), 
			bad: $('#bad').val()},
		       function( data ) {
			       if(data === 'done'){
			       		$('#send').hide()
			       }
		       }
		)
	})
})
</script>

</body>


